body {background-color:Gainsboro; color: #220a00;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;}
.multiRG {background-color:RosyBrown;}
.del {text-decoration: line-through; }
h1{
    letter-spacing: 5px;
    display: block;
    text-align: center;
    font-size: 45px;
    line-height: 1em;
}

h2{
    display: block;
    font-size: 1.3em;
    text-align: center;

}


h3{display: block;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}
h4 {display: block;
    font-size: 1.1em;
    text-align: center;
    
}